<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Batangas State University - TNEU</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>
<ion-content [scrollY]="true">
  <ion-card-header>
    <ion-card-title
      >Gender Diversity in the Construction Industry</ion-card-title
    >
  </ion-card-header>

  <ion-card>
    <ion-card-content>
      <p>How many years have you worked in the construction industry?</p>
    </ion-card-content>

    <ion-item>
      <ion-label>Response:</ion-label>
      <ion-input [(ngModel)]="Other1" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>What best describes your current area of worke?</p>
    </ion-card-content>

    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1">Design</ion-select-option>
        <ion-select-option value="option2">Engineering</ion-select-option>
        <ion-select-option value="option3">Field Supervision</ion-select-option>
        <ion-select-option value="option4">Skilled Craftman</ion-select-option>
        <ion-select-option value="option5">General Labor</ion-select-option>
        <ion-select-option value="option6"
          >Project Management</ion-select-option
        >
        <ion-select-option value="option7">Area Development</ion-select-option>
        <ion-select-option value="option8"
          >Planning/Scheduling</ion-select-option
        >
        <ion-select-option value="option9">Estimating</ion-select-option>
        <ion-select-option value="option10"
          >Office Administration</ion-select-option
        >
        <ion-select-option value="option11">Sales</ion-select-option>
        <ion-select-option value="option12">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Other:</ion-label>
      <ion-input [(ngModel)]="Other2" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>What is your current position?</p>
    </ion-card-content>

    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1">Intern</ion-select-option>
        <ion-select-option value="option2">Entry-level</ion-select-option>
        <ion-select-option value="option3">Junior-level</ion-select-option>
        <ion-select-option value="option4">Senior-level</ion-select-option>
        <ion-select-option value="option5">Executive</ion-select-option>
        <ion-select-option value="option6">Principal</ion-select-option>
        <ion-select-option value="option7">Owxs ner</ion-select-option>
        <ion-select-option value="option8">Educator</ion-select-option>
        <ion-select-option value="option9">Option</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Other:</ion-label>
      <ion-input [(ngModel)]="Other3" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>What is your highest education attained</p>
    </ion-card-content>
    <ion-item>
      <ion-label>Education level:</ion-label>
      <ion-input [(ngModel)]="Other4" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        Are you a member of any trade or industry related organization? If yes,
        please list the organizations and include any leadership position held
        in the organization.
      </p>
    </ion-card-content>
    <ion-item>
      <ion-label>Response:</ion-label>

      <ion-input [(ngModel)]="Other5" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>When did you first get interested in construction as a career path?</p>
    </ion-card-content>

    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1">As a Child</ion-select-option>
        <ion-select-option value="option2"
          >High School ("I took a class or attended an information session about
          the industry.")
        </ion-select-option>
        <ion-select-option value="option3"
          >College ("I originally started in another unrelated field, but
          transferred to construction before graduating.")</ion-select-option
        >
        <ion-select-option value="option4"
          >College ("I have fuly completed at least one degree in a construction
          related field.")
        </ion-select-option>
        <ion-select-option value="option5"
          >Post-College ("I graduated with an unrelated degree, but have worked
          my way into the industry throughout my career.")</ion-select-option
        >
        <ion-select-option value="option6">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Other:</ion-label>
      <ion-input [(ngModel)]="Other6" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Do you have any direct family in the construction industry?</p>
    </ion-card-content>
    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1"
          >Yes. ("List relationship")</ion-select-option
        >
        <ion-select-option value="option2">No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>List relationship:</ion-label>
      <ion-input [(ngModel)]="Other7" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        What do you think is the current percentage of women in the construction
        industry?
      </p>
    </ion-card-content>
    <ion-item>
      <ion-label>Response:</ion-label>
      <ion-input [(ngModel)]="Other8" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Have you had a mentor in your construction career?</p>
    </ion-card-content>
    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1">Yes</ion-select-option>
        <ion-select-option value="option2">No</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>If you had a mentor, how many mentors did you have?</p>
    </ion-card-content>
    <ion-item>
      <ion-label>Response:</ion-label>
      <ion-input [(ngModel)]="Other9" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>If you had a single mentor what was the gender of this mentor?</p>
    </ion-card-content>
    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1">Male</ion-select-option>
        <ion-select-option value="option2">Female</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>If you had multiple mentor, most were:</p>
    </ion-card-content>
    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1">Male</ion-select-option>
        <ion-select-option value="option2">Female</ion-select-option>
        <ion-select-option value="option3"
          >About 50/50 male to female</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Do you actively mentor other women in the industry?</p>
    </ion-card-content>
    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1">Yes</ion-select-option>
        <ion-select-option value="option2">No</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>What percentage of employees in your company are women?</p>
    </ion-card-content>
    <ion-item>
      <ion-label>Response:</ion-label>
      <ion-input [(ngModel)]="Other10" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        Does you company have active programs to promote recruitment and/or
        inclusion of women? If yes, please explain.
      </p>
    </ion-card-content>
    <ion-item>
      <ion-label>Response:</ion-label>
      <ion-input [(ngModel)]="Other11" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        In relation to your male coworkers with comparable skills, education and
        experience, how would you compare your own career compensation?
      </p>
    </ion-card-content>
    <ion-item>
      <ion-label>Financial Compensation</ion-label>
      <ion-select>
        <ion-select-option value="option1"
          >I receive less than most</ion-select-option
        >
        <ion-select-option value="option2"
          >I receive about equal</ion-select-option
        >
        <ion-select-option value="option3"
          >I receive more than most</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Career Advancement</ion-label>
      <ion-select>
        <ion-select-option value="option1"
          >I receive less than most</ion-select-option
        >
        <ion-select-option value="option2"
          >I receive about equal</ion-select-option
        >
        <ion-select-option value="option3"
          >I receive more than most</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        On average, do you generally receive positive (encouraging and/or
        construction criticism) or negative(discouraging and/or destructive
        criticism) feedback about your performance?
      </p>
    </ion-card-content>
    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1">Possitive</ion-select-option>
        <ion-select-option value="option2">Negative</ion-select-option>
        <ion-select-option value="option3">About 50/50</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        With which communication system do you most naturally associate
        yourself?
      </p>
    </ion-card-content>
    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1">Domainant</ion-select-option>
        <ion-select-option value="option2">Inspiring</ion-select-option>
        <ion-select-option value="option3">Cautious</ion-select-option>
        <ion-select-option value="option4">Supportive</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Which term best describes your leadership style?</p>
    </ion-card-content>
    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1">Agentic</ion-select-option>
        <ion-select-option value="option2">Communal</ion-select-option>
        <ion-select-option value="option3">Both</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>How do your coworkers and subordinates respond to your leadership?</p>
    </ion-card-content>
    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1"
          >They typically respond positively and respect my
          leadership.</ion-select-option
        >
        <ion-select-option value="option2"
          >They typically responf negatively and I struggle to maintain my
          leadership.</ion-select-option
        >
        <ion-select-option value="option3"
          >They are neither positive or negative, but show indifference to my
          leadership.</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        Do you prefer to take initiative to pursue advancements and
        opportunities in your career or do you typically wait until someone
        approaches you about the opportunity?
      </p>
    </ion-card-content>
    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1"
          >I usually take the initiative in pursuing advancements opportunities
          and promotions in my career.</ion-select-option
        >
        <ion-select-option value="option2"
          >I typically wait until my superiors approach me first about
          opportunities and promotions.</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        If you typically wait until your superiors approach you first about a
        promotion, what is the reason you prefer to wait?
      </p>
    </ion-card-content>
    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1"
          >Fear of effecting work-life balance</ion-select-option
        >
        <ion-select-option value="option2"
          >Lack of compensation associated with the
          opportunity</ion-select-option
        >
        <ion-select-option value="option3"
          >Do not want to take on more stress</ion-select-option
        >
        <ion-select-option value="option4"
          >Believe that you are not qualified</ion-select-option
        >
        <ion-select-option value="option5"
          >You know that more qualified people are applying for the
          opportunity</ion-select-option
        >
        <ion-select-option value="option6"
          >A major change might crate an unreliable financial
          situation</ion-select-option
        >
        <ion-select-option value="option7">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Response:</ion-label>
      <ion-input [(ngModel)]="Other12" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        Which of the following recruiting methods do you believe will get more
        women interested in construction?
      </p>
    </ion-card-content>
    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1"
          >Construction related toys/education in youth</ion-select-option
        >
        <ion-select-option value="option2"
          >Encouragement in STEM throughout primary education</ion-select-option
        >
        <ion-select-option value="option3"
          >Job shadowing programs for students</ion-select-option
        >
        <ion-select-option value="option4"
          >Trade organization recruitement/events</ion-select-option
        >
        <ion-select-option value="option5"
          >Field related sororities in college</ion-select-option
        >
        <ion-select-option value="option6"
          >College chapters of trade organixations</ion-select-option
        >
        <ion-select-option value="option7"
          >Lecture series for students in high school</ion-select-option
        >
        <ion-select-option value="option8"
          >Lecture series for students in college</ion-select-option
        >
        <ion-select-option value="option9"
          >How-to workshops on construction related tools and
          skills</ion-select-option
        >
        <ion-select-option value="option10"
          >Construction related volunteer opportunities</ion-select-option
        >
        <ion-select-option value="option11">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Response:</ion-label>
      <ion-input [(ngModel)]="Other13" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Do you plan to continue in your career path in construction?</p>
    </ion-card-content>
    <ion-item>
      <ion-label>Select an option</ion-label>
      <ion-select>
        <ion-select-option value="option1">Yes</ion-select-option>
        <ion-select-option value="option2">No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Explain:</ion-label>
      <ion-input [(ngModel)]="Other14" [required]="true"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card-content style="display: flex; justify-content: flex-end">
    <ion-button shape="round">Submit</ion-button>
  </ion-card-content>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Social Innovation Research Center</ion-title>
  </ion-toolbar>
</ion-footer>
