ion-item {
  --background: #f9f9f9;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-item h2 {
  font-size: 1.2em;
  color: #333;
}

ion-content {
  --background: #ffffff;
}

#container {
  padding: 15px;
  height: 100vh;
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
