<!-- survey-list.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Survey List</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="primary" [routerLink]="['/create-form']">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item *ngFor="let form of surveyForms" detail>
      <ion-label (click)="viewForm(form)">
        <h2>{{ form.title }}</h2>
      </ion-label>
      <!-- <ion-buttons slot="end">
        <ion-button fill="clear" color="danger" (click)="deleteForm(form)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-item>
  </ion-list>
</ion-content>
